

/* .sec1{

background-color: #2C3333;

} */
h1
{
  color: white;
}

/* .btn {

  background-color:none;
} */

.sec1 {

  height: 600px;
  width: 100%;
  background-color:#2C3333;
}
.row {
padding: 50px;
margin:50px;

}


/* form.d-flex button:hover {
  background: #2C3333;
} */



.bottom-container{
  height: 400px;
  width: 100%;
  background-color: #2C3333;
  padding: 100px 30% 40px 30%;
}
a{
  color: WHITE;
  font-family: 'Montserrat', sans-serif;
  margin:10px 20px;
padding: 200px 40px;
  text-decoration: none;
}
#pb{
  color: WHITE;
  font-family: 'Montserrat', sans-serif;
  padding: 200px 40% 40px;
}


/* login */

.form-box{
    width: 350px;
    margin: 100px auto 0;
    box-shadow: 0 0 10px 0 #000;
    padding: 50px 25px;
    background-color: snow;
}

.form-box h2{
    font-weight: 400;
    text-align: center;
    margin: -80px auto 50px;
    background: snow;
    width: 200px;
    height: 40px;
    padding-top: 20px;
    border-radius: 30px;
    box-shadow: 0 0 4px 0 #000;
}
.form-box p{
    
    text-align: center;
    margin: 30px auto
}

input
{
    width: 90%;
    height: 40px;
    padding: 20px;
    border-radius: 30px;
    border: 1px solid #999;
    outline: none;
    background: transparent;
}
.input-group{
    margin: 20px auto;
    position: relative;
}
label{
    position: absolute;
    top: -7px;
    left: 20px;
    background-color: snow;
    padding: 0 5px;
}
button
{
    padding: 12px 145px;
    border: none;
    border-radius: 30px;
    font-size: 14px;
    background-color: #ff1100;
    color: #fff;
    cursor: pointer;
    
}
button:hover
{
    background-color: black;
    transition: 0.6s;
}
.social{
    text-align: center;
}

.social img{
    width: 40px;
    margin: 0 6px;
    cursor: pointer;
}


/*--login */



